html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.nav-link:hover {
  color: #258cfb !important; /* Blue color on hover */
}

/* New footer style */
.footer {
  position: fixed; /* Position relative to the normal flow */
  left: 0; /* Align to the left */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Full width */
  text-align: center; /* Center the text */
  padding: 10px 0; /* Optional: Add some padding for better spacing */
  margin-top: 1.25rem; /* Add margin of 1rem above the footer */
  background-color: #f8f9fa; /* Optional: Set a background color */
  border-top: 1px solid #dee2e6; /* Optional: Add a top border */
}

@media (max-width: 768px) {
  #tryItOutButton {
      font-size: 0,7rem; /* Smaller font size for mobile */
      min-width: 70%; /* Wider button on mobile */
  }
}

@media (min-width: 769px) {
  #tryItOutButton {
      font-size: 1.5rem; /* Larger font size for desktop */
      min-width: 50%; /* Adjust as needed */
  }
}